<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalizableTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>studyWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>studyWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2117985B1D0FD52E006F5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>211798891D0FFC54006F5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B3BAAB1C99706000397032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B3BAC41C99706000397032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B3BACF1C99706000397032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
